[data-theme="dark"]{
    --background-color: #3f3f3f;
    --text-color: #fff;
}

body {
    background-color:var(--background-color);
    color: var(--text-color)
}



div {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-gap: 10px;
}